<!DOCTYPE html>
<html data-ng-app="congrats">
<head>
  <title>Congrats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-ng-controller="WelcomeCtrl">

<%= yield %>

</body>
</html>
